.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
    background-color: maroon;
    color: white;
}

#cartButton {
    position: fixed;
    bottom: 70px;
    right: 70px;
}

#loginButton {
    position: fixed;
    top: 70px;
    left: 70px;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 50px;
}

.header-container .home-header a {
    font-size: 2em;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.header-container .home-header a:hover {
    color: maroon;
}

#search-input {
    display: block;
    width: 60%;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 auto 20px auto;
}

#cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px auto;
    max-width: 800px;
}

#item-list-container {
    width: 100%;
}

#item-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    list-style: none;
    width: 100%;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 10px;
}

.item button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.item button:hover {
    background-color: maroon;
}

.parent-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button:hover, .header-container .home-header a:hover {
    transition: background-color 0.3s ease, color 0.3s ease;
}